body {
  background-image: url(./lampu.jpeg);
  background-color: rgb(231, 240, 110);
  background-repeat: no-repeat;
  background-size: cover;
}

card-body {
  background-color: rgb(0, 0, 0);
}
